@model StudentInformationSystem.Models.StudentClass

<h1>Delete Pet</h1>

<p>Are you sure you want to delete the student <strong>@Model.Name</strong>?</p>

<form asp-action="Delete" method="post">
	<input type="hidden" asp-for="StudentID" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-action="Index" asp-controller="Students" class="btn btn-secondary">Cancel</a>
</form>